# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\matan\OneDrive - Technion\Study\Semester D- Spring20-21\097209 - Machine Learning 2\Homeworks\Final Project\4 Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
